.separator {
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: gray;
	opacity: 0.2;
	padding: 1px;
}

.class-statistics {
	font-size: 18px;
}


.chart-placeholder {
	height: 200px;
	width: 850px;
}

.diet-selector {
	margin-left: 10px;
}